[submodule "src/ros_x_habitat"]
	path = src/ros_x_habitat
	url = git@github.com:ericchen321/ros_x_habitat.git
[submodule "src/visualnav-transformer"]
	path = src/visualnav-transformer
	url = git@github.com:robodhruv/visualnav-transformer.git
